<h1>Home</h1>
<div>

    <h2>List of books</h2>
    <% if (books.length>0 ){ %>
        <% books.forEach(book=> { %>
            <span>
                <h2>
                    Title: <%= book.title %>
                </h2>
                <h3>
                    Author: <%= book.author %>
                </h3>
                <p>
                    Genre: <%= book.genre %>
                </p>
                <p>
                    Summary: <%= book.summary %>
                </p>
            </span>
            <%}) %>
                <%} %>

                    <a href="http://localhost:5000/login">Login</a>
</div>